body{
    background-color: black;
    overflow: hidden;

}

.wrapper{
    width: 800px;
    margin: 0 auto;
    position: relative;
    animation-name: text-moving;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform: perspective(900px) rotateX(45deg);
    line-height: 1.5;
}

.episode_num, .title{
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    color: gold;
}

.content1, .content2{
    color: gold;
    font-size: 45px;
}

@keyframes text-moving {
    0%{
        bottom: -550px;
}
    100%{
        bottom: 1100px;
}
}

.song{
    position: absolute;
    bottom:0;
    left: 0;
}